.elementor-609 .elementor-element.elementor-element-04a74e0 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-block-start: 40px;
    --padding-block-end: 40px;
    --padding-inline-start: 20px;
    --padding-inline-end: 20px;
}

.elementor-609 .elementor-element.elementor-element-04a74e0:not(.elementor-motion-effects-element-type-background),
.elementor-609 .elementor-element.elementor-element-04a74e0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E3F1F9;
}

.elementor-609 .elementor-element.elementor-element-04a74e0,
.elementor-609 .elementor-element.elementor-element-04a74e0::before {
    --border-transition: 0.3s;
}

.elementor-609 .elementor-element.elementor-element-ab9d912 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-609 .elementor-element.elementor-element-fdd2aad .elementor-tab-title,
.elementor-609 .elementor-element.elementor-element-fdd2aad .elementor-tab-title:before,
.elementor-609 .elementor-element.elementor-element-fdd2aad .elementor-tab-title:after,
.elementor-609 .elementor-element.elementor-element-fdd2aad .elementor-tab-content,
.elementor-609 .elementor-element.elementor-element-fdd2aad .elementor-tabs-content-wrapper {
    border-width: 0px;
}

.elementor-609 .elementor-element.elementor-element-fdd2aad .elementor-tab-title,
.elementor-609 .elementor-element.elementor-element-fdd2aad .elementor-tab-title a {
    color: var(--e-global-color-text);
}

.elementor-609 .elementor-element.elementor-element-fdd2aad .elementor-tab-title.elementor-active,
.elementor-609 .elementor-element.elementor-element-fdd2aad .elementor-tab-title.elementor-active a {
    color: var(--e-global-color-primary);
}

.elementor-609 .elementor-element.elementor-element-fdd2aad .elementor-tab-title {
    font-weight: 600;
}